.text-center{
    text-align:center; 
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin:auto;
}
.flex{
display: flex ;
}
.flex-col{
    flex-direction:column;

}
.items-center
{
    align-items:center;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border:2px solid black;
    border-radius:9px;
    cursor:pointer; 
}
.row{
    margin:8px 0;
}
.row input{
    margin:0;
    padding:10px 38px;
    border:2px solid black;
    border-radius:5px;
    width:230px;
}
.body
{
    /*background: url("./maths.jpg");*/
    background: url("./maths.jpg");

}


  .b1
  {
    background: url("./istockphoto-1293279971-612x612.jpg");
    color: white;
  }
  .b2
  {
    background: url("./close-up-pile-red-crystals-with-bright-light-generative-ai_958078-2209.jpg");
    color: white;
  }
  #b4
  {
    background: url("./close-up-pile-red-crystals-with-bright-light-generative-ai_958078-2209.jpg");
    color: white;
    
    
  }
  .input{
    background:url("./magenta.jpg");
  }